.btn {
  background-color: white;
  color: black;
  width: 30px;
  height: 30px;
  outline: none;
  font-size: 2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

.btn:active {
  transform: scale(0.98);
}

.btn-rect {
}

.btn-circle {
  border-radius: 50%;
}
